/web/bundles/
/web/assetic/
#/web/assets/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

#puphpet generated
/html/
/default/

#PHPStorm
.idea
*.ipr
*.iws

#Vagrant
.vagrant

.DS_Store
*.bak



.vagrant/machines/default/parallels/action_set_name