{% extends "layout.html.twig" %}

{% block title %}Blank page | overzicht{% endblock %}
{% block pagetitle %}<span class="font-green-sharp">Blank page layout</span><small> Blank page</small>{% endblock pagetitle %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block content %}
    {{ include("flash.html.twig") }}

    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
             Page content goes here
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
{% endblock content%}

{#<!-- BEGIN JAVASCRIPTS -->#}
{% block javascripts %}
    {{ parent() }}
{% endblock javascripts%}

{% block jquery %}
    {{ parent() }}
	<script>
      jQuery(document).ready(function() {
         Metronic.init(); // init metronic core components
         Layout.init(); // init current layout
      });
   </script>
{% endblock jquery %}
{#<!-- END JAVASCRIPTS -->#}
