{#this file is included in list.html.twig#}

<div id="stack1" class="modal fade" tabindex="-1" data-width="400">
    <div class="page-loading page-loading-boxed">
        <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
        <span>
        &nbsp;&nbsp;Loading... </span>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="stack2" class="modal fade" tabindex="-1">
    <div class="page-loading page-loading-boxed">
        <img src="{{ asset('assets/global/img/loading-spinner-grey.gif') }}" alt="" class="loading">
        <span>
        &nbsp;&nbsp;Loading... </span>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
